### Datatypes

In [2]:
age = 13
print(age)
type(13)

13

int

In [3]:
name = "israel"
type(name)

str

In [6]:
new_age = 16
type(age==new_age)

bool

In [7]:
height = 6.78
type(height)

float

### Basic Arithmetic Operation

In [ ]:
# Addition
13 + 15

28

In [ ]:
# Subtraction

16 - 9

7

In [11]:
# Division

102/10

10.2

In [ ]:
#Division

12*3

36

In [ ]:
#Float Addition
2.2 + 2.8

5.0

In [13]:
#Float Multiplication

3.4 * 1.2

4.08

In [14]:
#Float Division
3/1.2

2.5

In [15]:
#Float Subtraction
3.4 - 1.2

2.2

In [ ]:
price = 112.46
int(price)

In [19]:
price_int = 360
float(price_int)

360.0

### String Methods

In [27]:
fruit = "banana"

In [28]:
fruit.upper()

'BANANA'

In [29]:
fruit.capitalize()

'Banana'

In [32]:
fruit.count('n')

2

In [33]:
fruit.isalpha()

True

### Formatting Strings

In [15]:
name = "Israel"

age = 13

country = "Nigeria"

greeting = 'Welcome to my Country:' , country 

#print(greeting)

print('Welcome to my Country:' , country)

Welcome to my Country: Nigeria

In [18]:
print('Welcome to my Country:', country, "\n My Age is", age)

Welcome to my Country: Nigeria
 My Age is 13

In [13]:
print("Hello, my age is {} years old".format(age))

Hello, my age is 13 years old

In [19]:
year = 2025 - age

year

2012

In [20]:
print(f"I was given birth to in the year {year}")

I was given birth to in the year 2012

### List

In [35]:
fruits = ['mango', 'apple', 'banana', 'carrot', 'orange', 'cashew', 'pear', 'avocado', 'kiwi']

In [36]:
fruits[2] = 'pineapple'

In [37]:
fruits

['mango',
 'apple',
 'pineapple',
 'carrot',
 'orange',
 'cashew',
 'pear',
 'avocado',
 'kiwi']

In [38]:
fruits.reverse()

In [39]:
fruits.sort()
fruits

['apple',
 'avocado',
 'carrot',
 'cashew',
 'kiwi',
 'mango',
 'orange',
 'pear',
 'pineapple']

In [40]:
fruits.append('cherry')

In [41]:
fruits

['apple',
 'avocado',
 'carrot',
 'cashew',
 'kiwi',
 'mango',
 'orange',
 'pear',
 'pineapple',
 'cherry']

In [43]:
fruits.remove('cherry')

In [34]:
fruits

['apple',
 'avocado',
 'carrot',
 'cashew',
 'kiwi',
 'mango',
 'orange',
 'pineapple',
 'cherry']

In [44]:
fruits.pop()

'pineapple'

In [45]:
fruits

['apple', 'avocado', 'carrot', 'cashew', 'kiwi', 'mango', 'orange', 'pear']

In [57]:
fruits[-1]

'pear'

In [60]:
fruits[1:5:2]

['avocado', 'cashew']

In [61]:
fruits[1:4]

['avocado', 'carrot', 'cashew']

### Tuple

In [46]:
names = ("Jude", 'Thomas', 'Bert', 'Albert', 'Theodore')

In [55]:
names[2:4]

('Bert', 'Albert')

In [64]:
names[2] = "Frank"

TypeError: 'tuple' object does not support item assignment